body{
    text-align: center;
    background: rgb(255,9,0);
background: linear-gradient(90deg, rgba(255,9,0,1) 0%, rgba(0,224,255,1) 100%);
    font-family: inherit;
    color:#00f218;
}
#gif{
    width:450px;
    height: 250px;
}
.link{
    font-family: cursive;
    cursor: pointer;
    color: aqua;
    display: inline;
    padding-left: 33px;
    padding-right: 25px;
    font-size: 20px;
}
}
p{
    font-family: 'Odibee Sans', cursive;
    font-size:30px;
}
ul{
    margin:0;
    padding: 0;
    list-style-type: none;
}
.links:hover {
    font-size: 25px;
    text-decoration: underline;
}